[submodule "ReachainJS"]
	path = ReachainJS
	url = https://github.com/chainjazz/ReachainJS.git
[submodule "ReachainScripts"]
	path = ReachainScripts
	url = https://github.com/chainjazz/Reachainjazz.git
