BR.ini
ChanMaps/
ColorThemes/
Configurations/
Data/
Effects/**/
FXChains/
Grooves/
KeyMaps/
LangPack/
MIDINoteNames/
MediaDB/
MetadataCaches/
OSC/
ProjectTemplates/
S&M.ini
Scripts/**/
Scripts/sws*.*
TrackTemplates/
UserPlugins/
libSwell.colortheme
presets/
reaper-*.ini
reaper-install-rev.txt
reaper-license.rk
reaper.ini
**/sws-*.*

